<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Create User</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/create" class="active">Create User</a>
        </div>
        <div class="form-add-new">
            <h3>Add new Users</h3>

            <div class="form">
                <form action="/create-user" method="post">
                    <label for="email">Email</label>
                    <input
                        type="text"
                        id="email"
                        name="email"
                        placeholder="Your email.."
                    />

                    <label for="lname">Name</label>
                    <input
                        type="text"
                        id="name"
                        name="name"
                        placeholder="Your name.."
                    />

                    <label for="lname">City</label>
                    <input
                        type="text"
                        id="city"
                        name="city"
                        placeholder="Your city.."
                    />

                    <input type="submit" value="Save" />
                </form>
            </div>
        </div>
    </body>
</html>
