<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Update User</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/create">Create User</a>
        </div>
        <div class="form-add-new">
            <h3>Update Users</h3>

            <div class="form">
                <form action="/update-user" method="post">
                    <div class="none">
                        <label for="id">ID</label>
                        <input
                            value="<%= user.id %>"
                            type="text"
                            id="id"
                            name="id"
                        />
                    </div>

                    <label for="email">Email</label>
                    <input
                        value="<%= user.email %>"
                        type="text"
                        id="email"
                        name="email"
                        placeholder="Your email.."
                    />

                    <label for="lname">Name</label>
                    <input
                        value="<%= user.name %>"
                        type="text"
                        id="name"
                        name="name"
                        placeholder="Your name.."
                    />

                    <label for="lname">City</label>
                    <input
                        value="<%= user.city %>"
                        type="text"
                        id="city"
                        name="city"
                        placeholder="Your city.."
                    />

                    <input type="submit" value="Save" />
                </form>
            </div>
        </div>
    </body>
</html>
